.my-body{
  margin-top: 80px;
}
.t-prix{
  color: rgb(160, 57, 57);
 
}
.foot-p{
  font-size: 1.2em;
}
.detail-rigth{
  font-size: 1.5em;
}
.nb-panier{
  font-size: 1.5em;
}
.panier-item{
  font-size: 1.5em;
  align-items: center;
}
.my-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bdc3c7;
}